.venv
checkpoints/
crops/
data/
__pycache__/
.ipynb_checkpoints/
*.pt
*.pth
*.ckpt
*.pyc
submissions/
*.err
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal
mlartifacts/
cluster_results/slurm_logs/
slurm_logs_mesogip/*.csv